<a href="https://colab.research.google.com/github/simonpoon/Tailwindcss_first_project/blob/main/Python_Class_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**1. 匯入插件**

匯入我們需要用到的插件, 我們用到的插件叫 Pandas 能夠從不同的來源 例如 Yahoo 拿到歷史數據。

```
!pip install --upgrade pandas_datareader
!pip show pandas_datareader

import pandas_datareader as pdr
import matplotlib.pyplot as plt
```


*   import 匯入
*   pandas_datareader 和 matplotlib.pyplot 為插件名稱
*   as 改名為 ...
*   pdr 和 plt 是自定義名稱。我們改一個比較短的名稱方便之後需要重覆輸入插件名稱

在下方輸入代碼並運行, 按 Restart runtime：

In [34]:
import pandas_datareader as pdr
import matplotlib.pyplot as plt

###**2. 取得數據**

1. 從Yahoo取得HSI的歷史數據
2. 把數據顯示出來。

```
gld = pdr.get_data_yahoo('^HSI')
gld
```

*   gld 自定義的變數名稱
*   pdr 匯入的 pandas_datareader 簡稱
*   get_data_yahoo 是 pandas_datareader 的一個功能, 能夠從Yahoo 取得數據
*   ^HSI 恆生指數的代號
*   gld 單獨出現意思是把變數中的內容顯示出來

在下方輸入代碼並執行:

In [36]:
gld = pdr.get_data_yahoo('^HSI')
gld

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-05-29,25744.720703,25579.150391,25672.400391,25701.630859,1.077784e+09,25701.630859
2017-05-31,25817.949219,25650.060547,25706.449219,25660.650391,2.997858e+09,25660.650391
2017-06-01,25834.750000,25614.609375,25736.349609,25809.220703,2.017055e+09,25809.220703
2017-06-02,25973.000000,25851.849609,25926.060547,25924.050781,1.990194e+09,25924.050781
2017-06-05,25998.660156,25801.839844,25976.359375,25862.990234,1.766176e+09,25862.990234
...,...,...,...,...,...,...
2022-05-23,20642.759766,20303.550781,20608.650391,20470.060547,1.696100e+09,20470.060547
2022-05-24,20509.619141,19989.619141,20420.140625,20112.099609,1.825206e+09,20112.099609
2022-05-25,20370.740234,20067.980469,20115.560547,20171.269531,2.097457e+09,20171.269531
2022-05-26,20272.220703,19890.759766,20272.220703,20116.199219,1.855500e+09,20116.199219
2022-05-27,20779.750000,20494.150391,20646.060547,20662.730469,0.000000e+00,20662.730469

###**3. 移除不必要的數據**

把其他數據移除餘下 Close 數據, 方便圖表顯示 

```
gld = gld['Close']
gld
```
*   變數 gld 等餘 gld 中的 Close 數據, 現在gld就只餘下Close的數據 
*   gld 把變數中的內容顯示出來

###**4. 把圖表顯示出來**

```
plt.plot(gld)
plt.show()
```
*   便用插件 matplotlib.pyplot 的功能 plot 把圖表畫出來, 數據來原是只有Close數據的 gld
*   便用插件 matplotlib.pyplot 的功能 show 把圖表顯示出來